:root {
    --text-color: white; 
  }


.navbar{
    color: var(--text-color)!important;
}


.brand {
    color: var(--text-color)!important;
    font-size: 200%!important;;
}

.login {
    color: var(--text-color)!important;
    font-size: 150%!important;
    padding-right: 30%!important;
}