@media all and (min-width: 480px) {
    .RegisterPage {
      padding: 60px 0;
    }
  
    .RegisterPage form {
      margin: 0 auto;
      max-width: 220px;
    }
  }
  

  .regulations{
    background: rgba(255, 255, 255, 0.4);
    color: black!important;
    border-radius: 5px;
    padding: 5px;
  }
  
  .regulations label a:hover{
    color: darkmagenta;
  }