body {
  background-color: #282c34;
  background-image: url('./assets/background3.png');
  background-size: 80%;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
